.button {
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: $ease-out-quart;

  &:hover {
    color: $tan;
    background-color: $orange;
    border-color: $orange;
  }

  &--tan {
    border-color: $tan;

    &:hover {
      background-color: $tan;
      color: $orange;
    }
  }
}
